*{
    margin: 0
}
header{
 background-color: darkseagreen;
 color: darkolivegreen;
}
main{
    background-color: bisque;
}
footer{
    background-color: beige;
}

#logotipo{
    height: 200px;
    width: auto;
    border-radius: 50%;
    margin: 20px;
}

#menu{
    text-align: center;
}

#menu a{
    text-decoration: none;
}
#menu li{
    display: inline;
}